/* ========= GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Roboto:wght@700&display=swap");

:root {
  --header-height: 3rem;

  /* colors */
  /* change color */
  --hue-color: 335;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(
    var(--hue-color),
    69%,
    68%
  ); /* 39% darker than first-color */
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --home-text-color: #484848;
  --home-text-color-light: #595959;
  --design-text-color: #484848;
  --design-title-color: #242424;
  --design-name-color: #111111;

  /* font and typography */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font-weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* font size fot large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Variables Dark Theme */
body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/* Button Dark/Light */
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--home-text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* reusable css class */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* layout */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* nav */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* active link */
.active-link {
  color: var(--first-color);
}

/* change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  width: 350px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.ipa,
.pos {
  color: var(--home-text-color);
}

.adj__description {
  margin-bottom: var(--mb-2);
}

.ipa {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.home__scroll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-arrow {
  transform: translate3d(0px, -10.5802px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
  color: var(--first-color);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 3rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

.button__override {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

/*==================== ABOUT ====================*/
.about__img {
  width: 450px;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.about__content .about__description {
  text-align: center;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  grid-template-rows: max-content;
  display: grid;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-content {
  font-size: var(--h3-font-size);
  font-weight: var(--normal-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.about__info-content {
  display: flex;
  text-align: left;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__titles {
  font-size: var(--h3-font-size);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--home-text-color-light);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-25);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__figma {
  width: 90%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/*=================== Tools ====================*/
.tools__container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tools__titles {
  font-size: var(--h3-font-size);
}

.tools__name {
  font-size: var(--h3-font-size);
}

.tools__subtitle {
  font-size: var(--small-font-size);
  color: var(--home-text-color-light);
}

.tools__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.tools__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-25);
}

/*==================== QUALIFICATIONS ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-left: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  margin-bottom: 30px;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--home-text-color-light);
}

.four-pointed-star {
  position: relative;
  margin: 1em auto;
  width: 1em;
  font-size: 12px;
}

.four-pointed-star:before {
  content: "";
  position: absolute;
  background: #e4628e;
  width: 1em;
  height: 1.15em;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  left: -0.25em;
  top: -0.25em;
}

.four-pointed-star:after {
  content: "";
  position: absolute;
  background: #e4628e;
  width: 1em;
  height: 1.15em;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  left: -0.25em;
  top: -0.25em;
}

.five-pointed-star {
  --star-color: #1da573;
  margin: 1em auto;

  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
  top: -0.8em;
  left: -0.2em;
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.six-pointed-star {
  --star-color: #3a77ad;
  --sqrt-3: 1.73205080757;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  font-size: 13px;
  position: relative;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-bottom: calc(0.8em * var(--sqrt-3)) solid var(--star-color);
}

.six-pointed-star:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.8em;
  top: calc(0.8em * var(--sqrt-3) / 3);
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-top: calc(0.8em * var(--sqrt-3)) solid var(--star-color);
}

.qualification[data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}

/*==================== ILLUSTRATION ====================*/
.illustration__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.illustration__img-main {
  display: flex;
  justify-content: center;
}

.illustration__img-var {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.illustration__content {
  position: relative;
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.illustration1 {
  position: relative;
  border-radius: 0.25rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); */
  transition: 0.3s;
  /* background-color: #6daf55; */
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration2 {
  position: relative;
  border-radius: 0.25rem;
  transition: 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration3 {
  position: relative;
  border-radius: 0.25rem;
  transition: 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration4 {
  position: relative;
  border-radius: 0.25rem;
  transition: 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration5 {
  position: relative;
  border-radius: 0.25rem;
  transition: 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration6 {
  position: relative;
  border-radius: 0.25rem;
  transition: 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.illustration__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.illustration__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.illustration__button {
  cursor: pointer;
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.illustration__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.illustration__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.illustration__modal-content {
  position: relative;
  background-color: var(--container-color);
  border-radius: 0.5rem;
}

.illustration__modal-illustration {
  display: grid;
  grid-template-columns: repeat(2, 500px);
}

.illustration__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.illustration__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.illustration__modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== POTOFOLIO ====================*/
.design1__container {
  gap: 1rem;
}
.design1__img-home {
  padding-top: 60px;
  padding-bottom: 60px;
}

.design1__img-badge {
  padding-top: 20px;
  padding-bottom: 20px;
}

.design1__img {
  display: flex;
}

.design__header {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-bottom: 39px;
  padding-top: 80px;
  width: 100%;
}

.design__header .design__name {
  margin-bottom: var(--mb-1);
  font-size: var(--big-font-size);
  font-weight: var(--font-medium);
  color: var(--design-name-color);
}

.design__description {
  font-size: var(--normal-font-size);
  color: var(--design-text-color);
  padding-bottom: 2rem;
}

.design__container {
  overflow: initial;
}

.portofolio__content {
  padding: 0 1.5rem;
}

.design__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: var(--mb-3);
  padding-bottom: var(--mb-3);
  align-items: center;
}

.design__subcontent {
  grid-template-columns: 0.5fr 3fr;
  padding-top: var(--mb-1-5);
  padding-bottom: var(--mb-1-5);
  align-items: center;
}

.design__lists {
  font-size: var(--normal-font-size);
  color: var(--design-text-color);
  margin-bottom: var(--mb-0-75);
}

.design__content-interview1 {
  grid-template-columns: 0.5fr 2fr;
  padding-top: var(--mb-1-5);
  padding-bottom: var(--mb-3);
  align-items: center;
}

.design__content-interview2 {
  grid-template-columns: 2fr 0.5fr;
  padding-top: var(--mb-1-5);
  align-items: center;
}

.design__screen-left {
  grid-template-columns: 0.75fr 0.5fr;
  padding-top: var(--mb-3);
  align-items: center;
  padding-bottom: var(--mb-3);
}

.design__screen-right {
  grid-template-columns: 0.5fr 0.75fr;
  padding-top: var(--mb-3);
  align-items: center;
}

.design__userAvatar {
  width: 150px;
  height: 150px;
}

.design__img {
  width: 360px;
  /* width: 100%; */
  border-radius: 0.5rem;
  justify-self: center;
}

.design__img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.design__img-poke {
  width: 360px;
  border-radius: 0.5rem;
  justify-self: center;
  /* padding: 1rem; */
}

.design__img-poke:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.design_loadPage {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  max-height: 100%;
}

.design__screen {
  width: 640;
  max-width: 640px 100vw, 640px;
}

.design__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
  color: var(--design-name-color);
}

.design__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--design-name-color);
  margin-bottom: var(--mb-0-5);
}

.potfolio__descriptoon {
  margin-bottom: var(--mb-0-75);
}

.design__button:hover .button__icon {
  transform: translate(0.25rem);
}

/*==================== PDF ====================*/
.IVDA_pdf {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IVDA_pdf object {
  max-width: 100%;
  max-height: 100%;
}

/*==================== CONTACT ME ====================*/

.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--home-text-color-light);
}

.contact__slogan {
  font-size: var(large-font-size);
  font-weight: var(--normal-font-size);
  color: var(--first-color);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__content-detail {
  font-size: var(--normal-font-size);
  color: var(--home-text-color);
  margin-bottom: var(--mb-0-75);
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--home-text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

/*==================== SCROLL UP ====================*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

/* Show Scroll */
.show-scroll {
  bottom: 5rem;
}

/*==================== SCROLL BAR ====================*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For extral small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__img {
    width: 250px;
  }

  .home__scroll {
    display: none;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .illustration__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .illustration__content {
    padding-right: 3.5rem;
  }
  .illustration__modal {
    padding: 0 0.5rem;
  }

  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding: 0 0.5rem;
  }

  .project__img {
    width: 200px;
  }

  .design__content,
  .grid {
    grid-template-rows: max-content;
    align-items: center;
  }

  .design__subcontent,
  .grid {
    grid-template-rows: max-content;
    align-items: center;
  }

  .design__img-home {
    width: 360px;
  }

  .design__screen-img {
    width: 70%;
    justify-self: center;
  }

  .design__content,
  .design__subcontent,
  .illustration__container,
  .design__content-interview1,
  .design__content-interview2,
  .design__screen-left,
  .design__screen-right {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For small devices */
@media screen and (min-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__img {
    width: 350px;
  }

  .home__scroll {
    display: none;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .illustration__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .illustration__content {
    padding-right: 3.5rem;
  }
  .illustration__modal {
    padding: 0 0.5rem;
  }

  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding: 0 0.5rem;
  }

  .project__img {
    width: 200px;
  }

  .design__content,
  .grid {
    grid-template-rows: max-content;
    align-items: center;
  }

  .design__subcontent,
  .grid {
    grid-template-rows: max-content;
    align-items: center;
  }

  .design__img-home {
    width: 360px;
  }

  .design__content,
  .design__subcontent,
  .illustration__container,
  .design__screen-left,
  .design__screen-right {
    grid-template-columns: repeat(1, 1fr);
  }

  .design__screen-img {
    width: 80%;
    justify-self: center;
  }
}

/* For meduim devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 1;
    justify-self: center;
    width: 371px;
  }

  .design__screen-img {
    width: 100%;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .design__content,
  .design__subcontent,
  .illustration__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .design__screen-left {
    grid-template-columns: 0.75fr 0.5fr;
    padding-top: var(--mb-3);
    align-items: center;
    padding-bottom: var(--mb-3);
  }

  .design__screen-right {
    grid-template-columns: 0.5fr 0.75fr;
    padding-top: var(--mb-3);
    align-items: center;
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: auto;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
    padding-top: 1.5rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 1.5rem;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }

  .about__container {
    column-gap: 3rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }

  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }

  .illustration__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .illustration__icon {
    font-size: 2rem;
  }
  .illustration__content {
    padding: 1rem 1rem 1rem 1rem;
  }
  .illustration__modal-content {
    width: 450px;
  }

  .services__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services__icon {
    font-size: 2rem;
  }
  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }
  .services__modal-content {
    width: 450px;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__links {
    flex-direction: column;
    column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  .home__blob {
    width: 320px;
  }
  .home__social {
    transform: translateX(-6rem);
  }

  .sevices__cotainer {
    grid-template-columns: repeat(3, 238px);
  }

  .design__screen-img {
    width: 100%;
    justify-self: center;
  }

  .design__content {
    column-gap: 5rem;
  }

  .design__subcontent {
    column-gap: 5rem;
  }

  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
